<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <h1>=== 은행 계좌 관리 프로그램 ===</h1>
        <p>원하는 업무를 선택해주세요.</p>
        <p>
            <a href="/accounts/new">계좌 개설</a><br>
            <a href="/accounts/deposit">입금</a><br>
            <a href="/accounts/withdraw">출금</a><br>
            <a href="/accounts/balance">잔액 조회</a><br>
            <a href="/accounts/all">전 계좌 조회</a><br>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>